@model IEnumerable<WP_Web.Models.AcademicYear>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Weekly Schedules", "Index", "WeeklySchedules", new { id = item.AcademicYearId }, null) |
                @Html.ActionLink("Edit", "Edit", new { id=item.AcademicYearId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.AcademicYearId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
